body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #A51C30; /* Harvard Crimson */
    color: white;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
  
  .container {
    text-align: center;
  }
  
  button {
    background-color: white;
    color: #A51C30;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #eee;
  }
  